@page
@model miniMarketSolid.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<h2>Inicio</h2>

@if (User.Identity?.IsAuthenticated == true)
{
    <p>Bienvenido, @User.Identity!.Name.</p>

    @if (User.IsInRole("Admin"))
    {
        <p><a class="btn btn-outline-sky" href="/Clientes/Index">Administrar clientes</a></p>
        <p><a class="btn btn-outline-sky" href="/Productos/Index">Administrar productos</a></p>
    }
    else
    {
        <p><a class="btn btn-outline-sky" href="/Catalogo/Index">Ver Catalogo</a></p>
    }
}
else
{
    <p>
        Bienvenido a <strong>Tienda Online</strong>, el mejor lugar para encontrar productos
        de calidad al mejor precio. Explora nuestro catálogo y añade tus favoritos al carrito.
    </p>
}